@model List<ApplicWEB.Models.Film>

@{
    ViewBag.Title = "Index";
}


<table class="table table-dark">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Runtime
            </th>
            <th>
                PosterPath
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicWEB.Models.Film f in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => f.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => f.ReleaseDate)
                </td>
                <td>
                    @{String convert = f.RunTime / 60 + ":" + f.RunTime % 60;}

                </td>
                <td>
                    @{String image = "https://image.tmdb.org/t/p/w185" + f.PosterPath;}
                    <img src="@image" height="100" width="50" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div col-md-4>
    @Html.ActionLink("Back", "Index", "Actors", new { Numpage = (string)@ViewData["Nombre"] }, new { @class = "button" })
</div>

